@import-normalize;

$black-main : #040303;

$maroon-100 : #754040;
$maroon-200 : #612424;
$maroon-300 : #461111;
$maroon-400 : #2C0404;
$maroon-500 : #140000;

$red-100 : #F39B9B;
$red-200 : #C75D5D;
$red-300 : #A13333;
$red-400 : #771313;
$red-500 : #4E0000;

$orage-100 : #F09A6A;
$orage-200 : #D2733D;
$orage-300 : #B3541E;
$orage-400 : #923907;
$orage-500 : #682500;

$purple-100 : #9189E0;
$purple-200 : #6A60CE;
$purple-300 : #4d41bf;
$purple-400 : #2F21B4;
$purple-500 : #1E138B;



html{
    background-color: rgb(26, 26, 26);
    color: $orage-100;
    font-family: 'Courier New', Courier, monospace;
}

